.card img{
    width: 375px;
    border-start-end-radius: 5px;
}

.card h4{
    margin-top: 10px;
    font-size: 1.8rem;
}

.card span{
    font-style: italic;
    margin-bottom: 10px;
    color: rgb(112, 112, 112);
}